<!DOCTYPE html>
<html>
<head>
  <title>Wave Citizen</title>
  <%= stylesheet_link_tag    "wave_citizen/application", media: "all" %>
  <%= javascript_include_tag "wave_citizen/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
